In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import re as re
% matplotlib inline
import Getmissed
import Processothers
import Addmissingvalue
from sklearn.linear_model import LogisticRegression
import Addpredict
import Predict
from sklearn.linear_model import Ridge
from imblearn.over_sampling import SMOTE
import Predict_Estimation
from sklearn.model_selection import cross_val_score,train_test_split
import Predict_profit
from sklearn.metrics import r2_score
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import GradientBoostingClassifier
import seaborn as sns

train_df = pd.read_csv('DataTraining.csv')
test_df = pd.read_csv('DataPredict.csv')

train=Getmissed.GetTrain(train_df)
train_df=Processothers.Get_processed_and_complete(train_df,train)

/home/chenyf1/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
'''
def Get_processed_profit_need_data(train_df):
    olabel=train_df['profit']
    y_responded=train_df['responded']
    odata=train_df.drop(columns=['id','responded','profit'])
    odata=pd.get_dummies(odata)
    odata=odata.loc[(y_responded != 0)]
    olabel = olabel[(y_responded !=0)]
    return odata,olabel
'''

"\ndef Get_processed_profit_need_data(train_df):\n    olabel=train_df['profit']\n    y_responded=train_df['responded']\n    odata=train_df.drop(columns=['id','responded','profit'])\n    odata=pd.get_dummies(odata)\n    odata=odata.loc[(y_responded != 0)]\n    olabel = olabel[(y_responded !=0)]\n    return odata,olabel\n"

In [3]:
train_df

,custAge,profession,marital,schooling,default,housing,loan,contact,month,day_of_week,...,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,pmonths,pastEmail,responded,profit,id
0,34.0,admin.,single,university.degree,no,no,yes,cellular,apr,wed,...,-1.8,93.075,-47.1,1.498,5099.1,0.000000,0,0,NaN,1
1,31.0,services,single,high.school,no,no,no,cellular,jul,thu,...,1.4,93.918,-42.7,4.968,5228.1,0.000000,0,0,NaN,2
2,33.0,admin.,single,high.school,no,no,no,telephone,jun,thu,...,1.4,94.465,-41.8,4.961,5228.1,0.000000,0,0,NaN,3
3,52.0,admin.,divorced,university.degree,unknown,yes,no,cellular,jul,tue,...,1.4,93.918,-42.7,4.962,5228.1,0.000000,0,0,NaN,4
4,39.0,blue-collar,single,basic.9y,unknown,yes,no,cellular,jul,tue,...,1.4,93.918,-42.7,4.961,5228.1,0.000000,0,0,NaN,5
5,40.0,entrepreneur,married,university.degree,no,yes,no,telephone,jun,thu,...,1.4,94.465,-41.8,4.866,5228.1,0.000000,0,0,NaN,6
6,50.0,technician,single,professional.course,no,no,no,cellular,jul,tue,...,1.4,93.918,-42.7,4.961,5228.1,0.000000,0,0,NaN,7
7,41.0,technician,married,professional.course,no,no,no,cellular,oct,thu,...,-3.4,92.431,-26.9,0.741,5017.5,0.000000,0,0,NaN,8
8,23.0,blue-collar,single,basic.4y,no,yes,no,telephone,jun,fri,...,1.4,94.465,-41.8,4.959,5228.1,0.000000,0,0,NaN,9
9,29.0,technician,married,professional.course,no,yes,no,cellular,aug,mon,...,1.4,93.444,-36.1,4.965,5228.1,0.000000,0,0,NaN,10
10,57.0,retired,married,basic.4y,unknown,no,no,telephone,jun,mon,...,1.4,94.465,-41.8,4.961,5228.1,0.000000,0,0,NaN,11
11,33.0,blue-collar,married,unknown,no,no,no,cellular,jul,mon,...,1.4,93.918,-42.7,4.960,5228.1,0.000000,0,0,NaN,12
12,40.0,technician,married,university.degree,no,yes,no,telephone,oct,wed,...,-1.1,94.601,-49.5,0.985,4963.6,0.000000,2,0,NaN,13
13,59.0,housemaid,married,basic.4y,unknown,no,no,telephone,jun,thu,...,1.4,94.465,-41.8,4.958,5228.1,0.000000,0,0,NaN,14
14,38.0,technician,married,university.degree,no,no,no,cellular,may,fri,...,-1.8,92.893,-46.2,1.313,5099.1,0.000000,1,0,NaN,15
15,44.0,blue-collar,married,basic.9y,no,yes,yes,cellular,may,mon,...,-1.8,92.893,-46.2,1.299,5099.1,0.000000,0,0,NaN,16
16,33.0,technician,single,professional.course,unknown,yes,yes,telephone,jul,thu,...,1.4,93.918,-42.7,4.966,5228.1,0.000000,0,0,NaN,17
17,51.0,blue-collar,married,basic.4y,no,yes,yes,telephone,may,wed,...,1.1,93.994,-36.4,4.858,5191.0,0.000000,0,0,NaN,18
18,40.0,services,married,high.school,no,yes,no,telephone,may,wed,...,1.1,93.994,-36.4,4.858,5191.0,0.000000,0,0,NaN,19
19,37.0,admin.,single,university.degree,no,no,yes,cellular,aug,mon,...,1.4,93.444,-36.1,4.965,5228.1,0.000000,0,0,NaN,20
20,33.0,admin.,married,high.school,no,yes,yes,telephone,may,thu,...,1.1,93.994,-36.4,4.855,5191.0,0.000000,0,0,NaN,21
21,39.0,blue-collar,married,basic.9y,no,yes,no,cellular,apr,wed,...,-1.8,93.075,-47.1,1.445,5099.1,0.000000,5,0,NaN,22
22,55.0,services,married,high.school,no,yes,no,cellular,aug,wed,...,1.4,93.444,-36.1,4.963,5228.1,0.000000,0,0,NaN,23
23,27.0,services,single,professional.course,no,yes,no,cellular,jun,tue,...,-2.9,92.963,-40.8,1.262,5076.2,0.000000,0,0,NaN,24
24,24.0,student,single,high.school,no,yes,no,cellular,may,tue,...,-1.8,93.876,-40.0,0.682,5008.7,0.000000,0,0,NaN,25
25,40.0,services,divorced,high.school,no,yes,no,telephone,apr,fri,...,-1.8,93.075,-47.1,1.405,5099.1,0.000000,0,0,NaN,26
26,49.0,unknown,married,unknown,no,no,no,telephone,jun,wed,...,1.4,94.465,-41.8,4.962,5228.1,0.000000,0,0,NaN,27
27,25.0,technician,married,professional.course,no,no,no,cellular,jul,thu,...,1.4,93.918,-42.7,4.963,5228.1,0.000000,0,0,NaN,28
28,35.0,technician,married,unknown,unknown,yes,no,telephone,may,tue,...,1.1,93.994,-36.4,4.857,5191.0,0.000000,0,0,NaN,29
29,34.0,technician,single,professional.course,no,yes,no,telephone,may,tue,...,-1.8,92.893,-46.2,1.334,5099.1,0.000000,0,0,NaN,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8107,48.0,technician,married,professional.course,no,yes,yes,cellular,apr,thu,...,-1.8,93.075,-47.1,1.365,5099.1,0.000000,1,1,465.0,8108
8108,34.0,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,...,1.1,93.994,-36.4,4.858,5191.0,0.000000,0,1,15.0,8109
8109,41.0,admin.,married,university.degree,no,yes,no,cellular,jul,wed,...,-1.7,94.215,-40.3,0.840,4991.6,0.000000,4,1,188.0,8110
8110,33.0,admin.,single,university.degree,no,no,no,cellular,aug,thu,...,-2.9,92.201,-31.4,0.829,5076.2,0.500000,4,1,180.0,8111
8111,45.0,admin.,married,university.degree,no,no,no,cellular,sep,mon,...,-3.4,92.379,-29.8,0.797,5017.5,0.000000,0,1,227.0,8112
8112,43.0,admin.,divorced,university.degree,no,yes,no,cellular,aug,tue,...,-2.9,92.201,-31.4,0.838,5076.2,0.200000,2,1,218.0,8113
8113,41.0,admin.,single,high.school,no,no,no,cellular,may,mon,...,-1.8,92.893,-46.2,1.244,5099.1,0.000000,0,1,90.0,8114
8114,40.0,services,married,high.school,unknown,no,no,telephone,may,tue,...,1.1,93.994,-36.4,4.856,5191.0,0.000000,0,1,-13.0,8115
8115,32.0,blue-collar,single,high.school,no,no,no,telephone,jun,tue,...,1.4,94.465,-41.8,4.864,5228.1,0.000000,0,1,56.0,8116
8116,63.0,retired,married,unknown,no,yes,no,telephone,apr,wed,...,-1.8,93.075,-47.1,1.445,5099.1,0.000000,0,1,159.0,8117
8117,31.0,blue-collar,married,basic.9y,no,yes,no,cellular,jun,mon,...,-2.9,92.963,-40.8,1.260,5076.2,0.000000,0,1,23.0,8118
8118,40.0,technician,married,university.degree,no,no,no,cellular,may,mon,...,-1.8,92.893,-46.2,1.299,5099.1,0.000000,0,1,213.0,8119
8119,61.0,management,married,university.degree,no,yes,no,cellular,aug,fri,...,-2.9,92.201,-31.4,0.869,5076.2,0.133333,2,1,306.0,8120
8120,28.0,admin.,married,university.degree,no,yes,no,cellular,jul,fri,...,1.4,93.918,-42.7,4.963,5228.1,0.000000,0,1,123.0,8121
8121,64.0,admin.,married,university.degree,no,no,yes,telephone,apr,thu,...,-1.8,93.075,-47.1,1.365,5099.1,0.066667,4,1,497.0,8122
8122,27.0,admin.,married,university.degree,no,yes,no,cellular,jul,thu,...,1.4,93.918,-42.7,4.957,5228.1,0.000000,0,1,163.0,8123
8123,41.0,blue-collar,divorced,basic.9y,no,yes,no,cellular,nov,wed,...,-0.1,93.200,-42.0,4.120,5195.8,0.000000,0,1,153.0,8124
8124,30.0,blue-collar,married,basic.4y,no,yes,no,cellular,apr,thu,...,-1.8,93.075,-47.1,1.435,5099.1,0.000000,0,1,-32.0,8125
8125,33.0,admin.,single,university.degree,no,yes,no,cellular,sep,thu,...,-1.1,94.199,-37.5,0.879,4963.6,0.200000,2,1,174.0,8126
8126,33.0,admin.,married,university.degree,no,no,no,cellular,nov,tue,...,-1.1,94.767,-50.8,1.035,4963.6,0.000000,0,1,213.0,8127
8127,31.0,technician,married,university.degree,no,yes,yes,cellular,oct,tue,...,-1.1,94.601,-49.5,0.982,4963.6,0.200000,4,1,390.0,8128
8128,65.0,retired,married,unknown,no,no,no,cellular,sep,tue,...,-3.4,92.379,-29.8,0.788,5017.5,0.000000,0,1,133.0,8129
8129,40.0,admin.,married,university.degree,no,yes,no,cellular,may,tue,...,-1.8,93.876,-40.0,0.697,5008.7,0.000000,0,1,172.0,8130
8130,62.0,retired,married,basic.4y,no,no,no,cellular,apr,tue,...,-1.8,93.075,-47.1,1.423,5099.1,0.000000,0,1,155.0,8131
8131,69.0,retired,married,basic.4y,no,no,no,cellular,nov,mon,...,-3.4,92.649,-30.1,0.715,5017.5,0.000000,0,1,171.0,8132
8132,24.0,student,single,university.degree,no,no,yes,cellular,jun,thu,...,-2.9,92.963,-40.8,1.260,5076.2,0.000000,0,1,345.0,8133
8133,29.0,admin.,married,university.degree,no,no,yes,cellular,jun,tue,...,-1.7,94.055,-39.8,0.702,4991.6,0.166667,3,1,477.0,8134
8134,48.0,unemployed,single,basic.9y,no,yes,no,cellular,apr,tue,...,-1.8,93.075,-47.1,1.365,5099.1,0.066667,1,1,232.0,8135
8135,54.0,admin.,married,unknown,no,yes,no,cellular,sep,tue,...,-3.4,92.379,-29.8,0.819,5017.5,0.000000,0,1,220.0,8136
8136,31.0,admin.,married,university.degree,no,yes,no,cellular,mar,tue,...,-1.8,92.843,-50.0,1.556,5099.1,0.000000,0,1,89.0,8137